* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    user-select: none;  /* user can't select */
}
li { list-style: none; }
img {
    max-height: 100%; /* img can't overflow from content by default */
    max-width: 100%;
}